<ul class="nav">
    <li class="active">
      <a  routerLink="dashboard">
        <i class="now-ui-icons design_app"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a routerLink="product">
        <i class="now-ui-icons education_atom"></i>
        <p>Product</p>
      </a>
    </li>
    <li>
      <a routerLink="driver">
        <i class="now-ui-icons shopping_delivery-fast"></i>
        <p>Customers</p>
      </a>
    </li>
    <li>
      <a routerLink="seller">
        <i class="now-ui-icons shopping_shop"></i>
        <p>Invoice</p>
      </a>
    </li>
    <li>
      <a routerLink="user">
        <i class="now-ui-icons users_single-02"></i>
        <p>User Profile</p>
      </a>
    </li>
    <li class="active-pro">
      <a href="#">
        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
        <p>User Role : Admin</p>
      </a>
    </li>
  </ul>